* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
}

body {
    background-color: rgb(126, 8, 47);
}

.wrapper {
    width: 50%;
    height: 100vh;
    background-color: #ece7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 30px;
    background-color:  #ece7e7;
    border-radius: 10px;
    color: black;
    border: solid  rgb(126, 8, 47)  4px;
}

.output {
    width: 250px;
    height: 40px;
    border: solid rgb(126, 8, 47) 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 20px;
}

#password {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    align-items: center;
    margin-top: 20px;
}

.output i {
    cursor: pointer;
    color:rgb(126, 8, 47);
}

p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    font-weight: bold;
} 

#seekbar {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: rgb(126, 8, 47);
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

#seekbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    border: 2px solid rgb(126, 8, 47);
    border-radius: 50%;
    cursor: pointer;
}

#seekbar::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background:#a4a4a4;
    border: 2px solid rgb(11, 166, 120);
    border-radius: 50%;
    cursor: pointer;
}

form div {
    margin: 10px 0;
}

label {
    font-weight: bold;
    margin-left: 10px;
    color: rgb(126, 8, 47);
}

input[type="checkbox"] {
    accent-color: rgb(126, 8, 47);
    width: 20px;
    height: 20px;
    background: #535151;
}

#indigater {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

button {
    background-color:rgb(126, 8, 47);
    width: 100%;
    padding: 10px;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

h1 {
    position: absolute;
    right: 15%;
    top: 30%;
    font-size: 100px;
    font-family: serif;
    color: #ece7e7;
}

.hidden{
    display: none;
}
.copied{
    position: absolute;
    padding: 5px;
    color: white;
    background-color: rgb(126, 8, 47) ;
    border-radius: 5px;
    font-size: 15px;
    transform: translateX(230px);
    top:18%;
    text-align: center;
}